gevent
numpy
nltk
keras
Flask
fuzzysearch
tensorflow
transformers
scikit-learn
gensim
futures
fuzzywuzzy
spacy
flask-cors
flask-socketio
cryptography
flask-sslify
tensorflow-datasets
textblob
python-Levenshtein
gevent-websocket
Flask-SQLAlchemy
SpeechRecognition
tf-keras
flask-caching