<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mayabati - Your Personal Chef</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="https://cdn.leonardo.ai/users/5e0f042e-ecf8-40b4-b267-d22a266ffa23/generations/8489dd4d-4996-4248-a86e-5498af5af5ac/DreamShaper_v7_Mayabati_as_a_chef_in_kitchen_cooking_food_0.jpg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Styles/computer.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Styles/mobile.css')}}" />
</head>

<body class="d-flex flex-column">
    <div id="chatbox" class="card flex-grow-1">
        <div class="logo-container">
            <div class="logo">
                <img src="https://cdn.leonardo.ai/users/5e0f042e-ecf8-40b4-b267-d22a266ffa23/generations/8489dd4d-4996-4248-a86e-5498af5af5ac/DreamShaper_v7_Mayabati_as_a_chef_in_kitchen_cooking_food_0.jpg" alt="Logo">
                <h1><b>Mayabati - Your Personal Chef</b></h1>
                <h1><b>So what do you want to cook today?</b></h1>
            </div>
        </div>
        <!-- Bot messages (stacking upwards) -->
        <div class="message bot-message">
            <div class="avatar">

            </div>
            <div class="message-text"><b></b></div>
        </div>
        <!-- User messages (stacking upwards) -->
        <div class="message user-message">
            <div class="avatar">

            </div>
            <div class="message-text"></div>
        </div>
    </div>

    <div class="card-footer fixed-bottom" style="border-radius: 15px;">
        <form id="messageArea" class="input-group">
            <input type="text" id="user_input" placeholder="Type a message..." autocomplete="off" class="form-control type_msg" required="">
        </form>
        
        <p class="text">
            Mayabati may produce incorrect answers. Consider checking for important informations.
        </p>
    </div>    
</div>    


    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='JS/computer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='JS/mobile.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='JS/peer2peer/simplepeer.min.js') }}"></script>

</body>
</html>