/* mobile.css */

/* Media Query for Mobile Devices */
@media only screen and (max-width: 600px) {
    body {
        overflow: hidden; /* Prevent body from scrolling */
        background: url('https://c1.wallpaperflare.com/path/732/683/662/hogwarts-table-dining-hall-harry-potter-c43a6939b20fc11f4dafdfd993cb0ca7.jpg') center/cover no-repeat;
    }

    .card {
        max-height: calc(100vh - 160px); /* Adjust max height for a shorter card */
        margin-bottom: 10px; /* Add a smaller margin between the card and the card footer */
        background-color: #e624f8d3;
        border-color: #6d0477;
        box-shadow: 0 10px 20px #ad1fb9d3;
    }

    .card-footer {
        bottom: 0;
        height: auto;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(197, 11, 253, 0.1);
        background-color: #4a70a1b6;
    }

    .user-message,
    .bot-message {
        margin-left: 5px;
        margin-right: 5px;
    }

    .logo {
        margin-top: 20px;
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px; /* Adjusted margin-top for smaller screens */
    }

    .logo img {
        width: 80px; /* Adjusted width of the logo for smaller screens */
        height: auto;
        margin-bottom: 5px; /* Adjusted margin-bottom for smaller screens */
        border-radius: 50px;
    }

    .logo h1 {
        font-size: 18px; /* Adjusted font size for smaller screens */
        margin: 6px;
        color: #000000; /* Set the desired color for the text */
        text-align: center; /* Center text horizontally */
    }

    .text {
        font-size: 12px; /* Adjusted font size for smaller screens */
        font-weight: bold;
        text-align: center; /* Center text horizontally */
        color: rgb(12, 8, 8);
    }
}
